.card {
  background: #131620 !important;
  width: 420px !important;
  box-shadow: none !important;
  border: none !important;
  animation: zoomIn, fadeIn !important;
  animation-duration: 0.8s !important;

  @media only screen and (max-width: 400px) {
    width: 100% !important;
  }
}

.card-title {
  font-size: 300% !important;
}

.card-title:hover {
  animation: tada; 
  animation-duration: 1s;
}

.card-subtitle {
  font-size: 120% !important;
}
