#url {
  border-radius: 10px !important;
  padding: 9px !important;
  background: #fff !important;
  font-size: 120% !important;
  text-align: center !important;
}

#url:focus {
  box-shadow: none !important;
  border-color: #7461fb !important;
}
