#url {
  border-radius: 8px !important;
  padding: 9px !important;
  background: #fff !important;
  font-size: 120% !important;
  text-align: center !important;
  &:focus {
    box-shadow: none !important;
    border-color: #8672E8 !important;
  }
}
 
