h3 {
  font-weight: bold !important;
}

a {
  color: #9facb8 !important;
  transition: all 100ms;
}

a:hover {
  color: #8672E8 !important;
}

.fa-hand-peace {
  color: #8672E8 !important;
}

// .fa-info-circle {
//   color: #8672e8cb;
// }