@font-face {
  font-family: 'Circular';
  src: url(https://snip.ml/fonts/CircularStd-Book.ttf);
}

@font-face {
  font-family: 'Circular Medium';
  src: url(https://snip.ml/assets/fonts/CircularStd-Medium.ttf);
}

@font-face {
  font-family: 'Circular Bold';
  src: url(https://snip.ml/assets/fonts/CircularStd-Bold.ttf);
}

@font-face {
  font-family: 'Circular Black';
  src: url(https://snip.ml/assets/fonts/CircularStd-Black.ttf);
}

html {
  width: 100% !important;
  height: 100% !important;
}

body {
  background: #030b14 !important;
  color: #fff !important;
  font-family: 'Circular', sans-serif !important;
  scroll-behavior: smooth !important;
  width: 100% !important;
  height: 100% !important;

  &::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
  }
  
  &::-webkit-scrollbar-button {
    width: 0px !important;
    height: 0px !important;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #e1e1e1 !important;
    border: 0px none #ffffff !important;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff !important;
  }
  
  &::-webkit-scrollbar-thumb:active {
    background: #a6a6a6 !important;
  }
  
  &::-webkit-scrollbar-track {
    background: #4b5a68 !important;
    border: 1px none #ffffff !important;
  }
  
  &::-webkit-scrollbar-track:hover {
    background: #4b5a68 !important;
  }
  
  &::-webkit-scrollbar-track:active {
    background: #4b5a68 !important;
  }
  
  &::selection {
    background: #7461fb !important;
    color: #fff !important;
  }  
}

.container, .row {
  height: 100% !important;
}