@font-face {
  font-family: 'Circular';
  src: url(/fonts/CircularStd-Book.ttf);
}

@font-face {
  font-family: 'Circular Medium';
  src: url(/assets/fonts/CircularStd-Medium.ttf);
}

@font-face {
  font-family: 'Circular Bold';
  src: url(/assets/fonts/CircularStd-Bold.ttf);
}

@font-face {
  font-family: 'Circular Black';
  src: url(/assets/fonts/CircularStd-Black.ttf);
}

$vt-color-success: #00daab85;
$vt-color-error: #ff11547e;
$vt-color-info: #7361fb4b;
$vt-font-family: 'Circular', sans-serif !default;

@import 'vue-toastification/src/scss/_variables';
@import 'vue-toastification/src/scss/_toastContainer';
@import 'vue-toastification/src/scss/_toast';
@import 'vue-toastification/src/scss/_closeButton';
@import 'vue-toastification/src/scss/_progressBar';
@import 'vue-toastification/src/scss/_icon';
@import 'vue-toastification/src/scss/animations/_bounce';

html {
  width: 100% !important;
  height: 100% !important;
}

body {
  background: #131620 !important;
  color: #fff !important;
  font-family: 'Circular', sans-serif !important;
  scroll-behavior: smooth !important;
  width: 100% !important;
  height: 100% !important;

  &::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
  }

  &::-webkit-scrollbar-button {
    width: 0px !important;
    height: 0px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #e1e1e1 !important;
    border: 0px none #ffffff !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff !important;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #a6a6a6 !important;
  }

  &::-webkit-scrollbar-track {
    background: #4b5a68 !important;
    border: 1px none #ffffff !important;
  }

  &::-webkit-scrollbar-track:hover {
    background: #4b5a68 !important;
  }

  &::-webkit-scrollbar-track:active {
    background: #4b5a68 !important;
  }
}

::selection {
  background: #8672E8 !important;
  color: #fff !important;
}

.container,
.row {
  height: 100% !important;
}
