<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <meta name="description" content="The simple, no-bullsh*t link shortener" />
    <meta name="theme-color" content="#7461FB" />
    <meta property="og:title" content="snip.ml" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://snip.ml" />
    <meta property="og:image" content="https://snip.ml/assets/img/logo.png" />
    <meta property="og:description" content="The simple, no-bullsh*t link shortener" />

    <link rel="apple-touch-icon" href="assets/img/logo.png" />
    <link rel="icon" href="assets/img/logo.png" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110509374-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-110509374-3');
    </script>

    <title>Snip</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row h-100">
        <div class="card animate__animated animate__backInDown text-center mx-auto my-auto">
          <div class="card-body">
            <h3 class="card-title shadow"><i class="fas fa-hand-scissors"></i>&nbsp;Snip</h3>
            <h6 class="card-subtitle mb-3 text-muted shadow">
              The simple, no-bullsh*t&nbsp;<a
                href="https://en.wikipedia.org/wiki/URL_shortening"
                target="_blank"
                >link shortener</a
              >.
            </h6>
            <form v-on:submit.prevent="shorten()">
              <div class="form-group">
                <input
                  type="text"
                  @input="seen = false"
                  class="form-control p-4 rounded shadow"
                  id="url"
                  maxlength="50000"
                  minlength="3"
                  placeholder="Enter link"
                  :autocomplete="seen"
                  required
                />
              </div>
              <transition name="fade">
                <button type="submit" v-if="!seen" class="btn btn-primary px-3 mr-2 rounded shadow">
                  <i class="fas fa-link"></i>&nbsp;Shorten
                </button>
                <button
                  type="button"
                  id="copy"
                  v-if="seen"
                  class="btn btn-outline-primary px-3 mr-2 rounded shadow"
                  data-clipboard-target="#url"
                >
                  <i class="fas fa-copy"></i>&nbsp;Copy
                </button>
                ></transition
              >
              <p class="mt-2">
                <small class="text-muted"
                  ><b>Note:</b> Snips expire after 7 days if inactive (<a
                    href="https://github.com/aidenybai/snip#goals"
                    target="_blank"
                    >our goals</a
                  >).</small
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lery7gZAAAAAJEWi_hdL1VmlSkLHQlnJqN7ZH0B"></script>
    <script src="js/index.js"></script>
  </body>
</html>
